<nav class="mb-5">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
        <li class="breadcrumb-item"><a routerLink="/lancamentos">Lançamentos</a></li>
        <li class="breadcrumb-item active">{{pageTitle}}</li>
    </ol>
</nav>
    
<div class="row mb-4">
    <div class="col-md-9">
        <h1 class="h2 border-left pl-2">
            {{pageTitle}}
        </h1>
    </div>
    <div class="col-md-3">
        <a routerLink="/lancamentos" class="btn btn-light float-right">
            << Voltar
        </a>
    </div>
</div>

<form [formGroup] = "resourceForm" (submit)="submitForm()">
    <div class="card">
        <div class="card-header">
            Informações sobre a lancamento
        </div>
        <div class="card-body">
            <div class="form-row">
                <!--tipo-->
                <div class="formgroup col-md-2">
                    <label for="tipo">Tipo</label>
                    
                    <select name="tipo" id="tipo" formControlName="tipo" class="form-control">
                        <option *ngFor="let option of tipoOptions" [value]="option.value">{{option.text}}</option>
                    </select>
  
                    <div class="text-danger" *ngIf="resourceForm.get('tipo').invalid && resourceForm.get('tipo').touched">
                        <div *ngIf="resourceForm.get('nome').errors.required">Dado obrigatório</div>
                    </div>
                </div>
                <!--nome-->
                <div class="formgroup col-md-5">
                    <label for="nome">Lançamento</label>
                    <input type="text" class="form-control" id="nome" formControlName="nome">
    
                    <div class="text-danger" *ngIf="resourceForm.get('nome').invalid && resourceForm.get('nome').touched">
                        <div *ngIf="resourceForm.get('nome').errors.required">Dado obrigatório</div>
                        <div *ngIf="resourceForm.get('nome').errors.minlenght">Deve ter no mínimo 2 caracteres</div>
                    </div>
                </div>

                <!--valor-->
                <div class="formgroup col-md-3">
                    <label for="nome">Valor</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">R$</div>
                        </div>
                        <input [imask]="imaskConfig" type="text" class="form-control text-right" id="valor" formControlName="valor">
                    </div>
                    
                    <div class="text-danger" *ngIf="resourceForm.get('valor').invalid && resourceForm.get('valor').touched">
                        <div *ngIf="resourceForm.get('valor').errors.required">Dado obrigatório</div>
                    </div>
                </div>

                <!--data-->
                <div class="formgroup col-md-2">
                    <label for="nome">Data</label>
                    <p-calendar
                      id="data"
                      formControlName="data"
                      inputStyleClass="form-control"
                      dataType="string"
                      dateFormat="dd/mm/yy"
                      [locale]="ptBR"
                      [showButtonBar]="true">
                      
                    </p-calendar>

                    <div class="text-danger" *ngIf="resourceForm.get('data').invalid && resourceForm.get('data').touched">
                        <div *ngIf="resourceForm.get('data').errors.required">Dado obrigatório</div>
                    </div>
                </div>
    
            </div>

            <div class="form-row">
                <!--pago-->
                <div class="formgroup col-md-2">
                    <label for="pago">Pago</label>
                    <div class="btn-group">
                        <label 
                          [class.active]="resourceForm.get('pago').value == true" 
                          class="btn btn-outline-info"
                          (click)="resourceForm.get('pago').setValue(true)">
                          Pago
                        </label>
                        <label 
                          [class.active]="resourceForm.get('pago').value == false" 
                          class="btn btn-outline-info"
                          (click)="resourceForm.get('pago').setValue(false)">
                        Pendente
                        </label>
                    </div>
                    <div class="text-danger" *ngIf="resourceForm.get('pago').invalid && resourceForm.get('pago').touched">
                        <div *ngIf="resourceForm.get('pago').errors.required">Dado obrigatório</div>
                    </div>
                </div>

                <!--CategoriaId-->
                <div class="formgroup col-md-3">
                    <label for="categoriaId">Categoria</label>
                    
                    <select name="categoriaId" id="categoriaId" formControlName="categoriaId" class="form-control">
                        <option *ngFor="let categoria of categorias" [value]="categoria.id">{{categoria.nome}}</option>
                    </select>
  
                    <div class="text-danger" *ngIf="resourceForm.get('categoriaId').invalid && resourceForm.get('categoriaId').touched">
                        <div *ngIf="resourceForm.get('nome').errors.required">Dado obrigatório</div>
                    </div>
                </div>

                <!--descricao-->
                <div class="form-group col-md-7">
                    <label for="descricao">Descrição</label>
                    <input type="text" class="form-control" id="descricao" formControlName="descricao">
                </div>
            </div>
        </div>
    </div>

    <div class="alert alert-danger mt-4" *ngIf="serverErrorMessages">
        <strong>Erro no Servidor: </strong>
        <ul>
            <li *ngFor="let error of serverErrorMessages">{{error}}</li>
        </ul>
    </div>

    <button [disabled]="submittingForm || resourceForm.invalid" type="submit" class="btn btn-primary btn-lg float-right mt-3">
        Salvar
    </button>
</form>